* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.table {
    margin: 30px;
    border: 15px solid black;
    border-collapse: collapse;
}
table img {
    vertical-align: middle;
}
table,
tr,
td {
    border-spacing: 0;
}
th, 
.col {
    border: 10px solid black;
    text-align: center;
    padding: 15px; 
    width: 200px; 
    height: 200px;
}
.col--main { 
    background-color: white;
}

.col--aditional{
    background-color: yellow;
}
.col--secondary {
    background-color: red;
}
.col--filled {
    background-color: black;
}
.col--unique {
    background-color: blue;
}